@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /*Primary*/
--Moderate-violet: hsl(263, 55%, 52%);
--Very-dark-grayish-blue: hsl(217, 19%, 35%);
--Very-dark-blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
    /*Neutral*/
--Light-gray: hsl(0, 0%, 81%);
--Light-grayish-blue: hsl(210, 46%, 95%);
}

html,body{
    width: 100%;
    height: 800px;
    margin: 0;
    background-color: var(--Light-grayish-blue);
    }

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px 200px 300px 200px 200px;
    grid-template-rows:200px 200px; 
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}

.card-1 {
    background-color: red;
    
    grid-column-start: 2;
    grid-column-end: 4;
}

.card-2 {
    background-color: black;
    
    grid-column-start: 4;
    grid-column-end: 4;
}
.card-3 {
    background-color: blue;
    
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.card-4 {
    background-color: yellow;
    
    grid-column-start: 2;
    grid-column-end: 2;
}

.card-5 {
    background-color: palevioletred;
    
    grid-column-start: 3;
    grid-column-end: 5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
